.ks-body {
    font-family: "Source Sans Pro", Helvetica,  Arial,  sans-serif;
}

.ks-full {
    width:100%;
    height: 52px;
}

/*<-----Header------>*/
.ks-navbar {
    background-color: #FFFEFC;
    /*box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.44);*/
    height: 52px;
    /*margin-bottom: 5px;*/
}
.ks-logo {
    width: 153px;
}

.ks-brand {
    height:100%;
    padding-top: 7px;
}
.ks-nav {
    float:left;
    padding-left: 59px;
}

.ks-nav-item {
    list-style: none;
    float: left;
    font-family: "Source Sans Pro", Helvetica,  Arial, sans-serif;
    font-size: 16px;

}

a:active {
    color: #EF7202;
    text-decoration: none;
}

a:hover {
    color: #EF7202;
    text-decoration: none;
}


a {
    color: #34393A;
}

.ks-toggle {
    color: #EF7202;
    background-color:transparent;
    border: none;
    font-size: 22px;
    margin-top: -60px;
}

.ks-toggle:after {
    background-color: transparent;
}

/*<-----End Header------>*/

/*<-----Footer------>*/

.ks-footer {
    background-color: #473C58;
    height: 45px;
    margin-bottom: 0;
}

.ks-footer-full {
    width: 100%;
    height: 45px;
    margin-bottom: 0px;
    position: absolute;
}

.fa-instagram {
    color: #E5E6E2;
    font-size: 25px;
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    margin-left: 15px;
    margin-top: 5px;
}

.fa-linkedin-square {
    color: #E5E6E2;
    font-size: 25px;
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    margin-left: 15px;
    margin-top: 5px;
}
/*<-----End Footer------>*/

/*<-----pages------>*/
.ks-container {
    padding-top: 52px;
}
/*<-----End pages------>*/

/*<-----My work------>*/

.ks-project {
    width:100%;
}

.ks-project-name {
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.ks-project-container {
    margin-top: 10px;
}
/*<-----End My work------>*/

/*<-----About Me------>*/
.ks-about-page {
    background-color: #34393A;
    padding: 30px 15px;
    margin-top: 15px;

}

.ks-about-photo {
    width: 100%;
    margin-bottom: 20px;
}

.ks-name {
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    font-size: 25px;
    color: #00D1C1;
    margin-top: -4px;
}

.ks-send {
    color: #EF7202;
    font-size: 16px;
    font-family: FontAwesome;
    font-style: normal;
}

.ks-phone {
    color: #EF7202;
    font-size: 25px;
    font-family: FontAwesome;
    font-style: normal;
    padding-right: 3px;
    padding-left: 3px;
}

.ks-c-info {
    color: #E5E6E2;
    font-family: Avenir, Helvetica, sans-serif;
    font-size: 16px;
    display: inline-block;
    padding-left:6px;
}

.ks-about-text {
    font-family: Avenir, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 23px;
    color: #E5E6E2;
}

.ks-resume {
    background-color: #EF7202;
    width: 98%;
    height: 45px;
    color: #E5E6E2;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 500;
    border: none;
    border-radius: 0px;
    padding-top: 8px;
}

.ks-resume:hover {
    background-color: #00D1C1;
    color: #E5E6E2;
    padding-top: 8px;
}


.ks-resume-border {
    text-align: center;
    border: 2px solid #00D1C1;
    width: 100%;
    height: 55px;
    padding-top: 3px;
    display: block;
}


@media screen and (min-width:750px) {
    .ks-resume {
        background-color: #EF7202;
        width: 270px;
        height: 45px;
        color: #E5E6E2;
        font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
        font-size: 20px;
        font-weight: 500;
        border: none;
        padding-top: 8px;
    }

    .ks-resume-border {
        text-align: center;
        border: 2px solid #00D1C1;
        width: 280px;
        height: 55px;
        padding-top: 3px;
        display: block;
    }


}

/*<-----End About Me------>*/


/*<-----Project pages------>*/

.ks-text-area {
    height: 100%;
    text-align: -webkit-center;
    margin-top: 20px;
}

.ks-dark-background {
    background-color: #34393A;
    height: 210px;
    margin-top: 0;
    padding: 10px;
}

.ks-title {
    color: #FFFEFC;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    font-size: 20px;
    text-align: center;
}

.ks-title-color {
    color: #00D1C1;
}
.ks-title-border {
    border-bottom: 2px solid #EF7202;
    width: 34px;
    margin: 10px 0px;
}

.ks-project-script {
    color: #34393A;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 28px;
    text-align: left;
    width: 97%;
    margin-bottom: 7px;
    letter-spacing: 0.75px;
}

.ks-light-text {
    color: #FFFEFC;
}

.ks-full-image-container {
    width: 100%;
    margin: 0px;
    overflow: hidden;
}

.ks-splash {
    width: 100% ;
}

.ks-h3 {
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    color: #853870;
    text-align: left;
    width: 97%;
    margin-top: 26px;
}

.ks-prototype {
    height: 100%;
    width:100%
}

.ks-inline-image {
    width: 97%;
    margin: 25px 0 10px 0;
}

.ks-final-text {
    background-color: #34393A;
    padding: 19px 0;
    text-align: -webkit-center;
    margin-top: 15px;
}

.ks-full-image {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

@media screen and (min-width:1170px) {
    .ks-dark-background {
        background-color: #34393A;
        height: 350px;
        margin-top: 0;
        padding: 60px;
    }


    .ks-project-script{
        font-size: 23px;
        line-height: 40px;
        max-width: 700px;
        font-weight: 400;
        letter-spacing: 1px;
        text-align: left;
        margin-bottom: 0px;
    }

    .ks-h3 {
       max-width: 700px;
       font-size: 23px;
       margin-top: 46px;
    }

    .ks-title {
        font-size: 40px;
    }

    .ks-title-border {
        border-bottom: 3px solid #EF7202;
        width: 41px;
        margin: 13px 0px;
    }

    .ks-inline-image {
        width: 97%;
        max-width: 700px;
        margin: 35px 0 10px 0;
    }

    .ks-full-image {
        width: 100%;
        max-width: 100%;
        overflow: hidden;
    }

    .ks-final-text {
        background-color: #34393A;
        padding: 19px 0;
    }


    }