<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../CSS/bootstrap.css" media="screen">
    <link rel="stylesheet" href="../font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../CSS/styles.css" media="screen">
    <title>Title</title>
</head>
<body>
<div class="ks-footer container-fluid">
    <a href="https://www.instagram.com/ksegervall/" target="_blank"><i class="fa-instagram"></i></a>
    <a href="https://www.linkedin.com" target="_blank"><i class="fa-linkedin-square"></i></a>
</div>
</body>
</html>