<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../CSS/bootstrap.css" media="screen">
    <link rel="stylesheet" href="../font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../CSS/styles.css" media="screen">
    <title>Title</title>
</head>
<body>
<nav class="ks-navbar navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="ks-brand navbar-brand" href="../index.html">
                <img class="ks-logo" src="../images/logo.svg" alt="Kerstin Segervall">
            </a>
        </div>
        <button type="button" class="ks-toggle navbar-toggle" data-toggle="collapse" data-target="#mynav">
            <i class="fa fa-navicon"></i>
        </button>
        <div class="collapse navbar-collapse" id="mynav">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="../index.html">My Work</a></li>
                <li><a href="#">About Me</a></li>
            </ul>
        </div>

    </div>
</nav>
</body>
</html>